<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <img src="~/img/logoYoga.png" alt="logo" />
                    </li>
                    <li>
                        <a class="navLink"> @Html.ActionLink("Home", "Index", "Home", null, new { @class = "actionLink" }) </a>
                    </li>
                    <li>
                        <a class="navLink"> @Html.ActionLink("About", "About", "Home", null, new { @class = "actionLink" }) </a>
                    </li>
                    <li>
                        <a class="navLink"> @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "actionLink" }) </a>
                    </li>
                    <li>
                        <a class="navLink"> @Html.ActionLink("Projects", "Projects", "Home", null, new { @class = "actionLink" }) </a>
                    </li>
                    <li>
                        <a class="navLink"> @Html.ActionLink("FeverCheck", "Index", "Doctor", null, new { @class = "actionLink" }) </a>
                    </li>

                    <li>
                        <a class="navLink"> @Html.ActionLink("Guessing Game", "Guessing_Game", "Home", null, new { @class = "actionLink" }) </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p>&copy;Ramya Talagavadi Kalegowda, @DateTime.Now.ToString("yy-MM-dd")</p>
    </footer>
</body>
</html>